<form>
    <div id="template-i2w5" class="form-group ">
        <label id="template-i1xj" class="label ">Name</label>
        <input id="template-iish" class="input form-control "  type="text">
    </div>
    
    <div id="template-ipkk" class="form-group ">
        <label id="template-i7bb" class="label ">Email</label>
        <input id="template-i3ot3" class="input form-control "  type="text">
    </div>
    
    <div id="template-itxlt" class="form-group ">
        <label id="template-ihn6z" class="label ">Gender</label>
        <input type="checkbox" id="template-i7tw1" class="checkbox ">
        <label id="template-ivwpk" class="checkbox-label ">M</label>
        <input type="checkbox" id="template-ix0g3" class="checkbox ">
        <label id="template-iig5v" class="checkbox-label ">F</label>
    </div>
    
    <div id="template-i9o7d" class="form-group ">
        <label id="template-iuuck" class="label ">Message</label>
        <textarea type="text" id="template-is844" class="textarea form-control "></textarea>
    </div>
    
    <div id="template-iaam1" class="form-group ">
        <button type="submit" id="template-iiked"  class="button btn btn-primary ">Send</button>
    </div>
    
</form>